---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Welcome from '../components/Welcome.astro';
import Resume from '../components/Resume.astro';
---

<Layout title="Jeison Giraldo">
	<Header />
	<main class="container mx-auto mt-16">
		<Welcome />
		<Resume />
	</main>
</Layout>

