---
// Layout
import Layout from '../layouts/Layout.astro';

// Components
import Header from '../components/Header.astro';
import Welcome from '../components/Welcome.astro';
import Resume from '../components/Resume.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';
---	

<Layout title="Jeison Giraldo">
	<Header />
	<main class="container mx-auto mt-4 lg:mt-0">
		<Welcome />
		<Resume />
		<Experience />
		<!-- <Projects /> -->
		<!-- <Contact /> -->
		<Footer />
	</main>
</Layout>

