---

---

<section class="mb-8 mt-8">
  <h1 class="text-white text-center">Contácto</h1>
  <div class="flex justify-center">
    <div class="w-1/2 flex flex-col gap-4">
      <input type="email" placeholder="Email" class="h-12 bg-slate-400 rounded-md">
      <textarea class="rounded-sm bg-slate-400" name="" id="" rows="10"></textarea>
    </div>
  </div>
</section>