---

---

<section>
  <h1 class="text-yellow-500 ">Experiencia Profesional</h1>

  <div class="grid grid-cols-3 gap-12">

    <article class=" flex flex-col gap-4 border p-4 rounded-md shadow-lg shadow-slate-700 hover:bg-slate-900 cursor-pointer">
      <h2 class="text-white"><strong class="text-yellow-500">Cargo:</strong> Analista de Desarrollo Tecnológico</h2>
      <p class="text-white"><strong class="text-yellow-500">Empresa:</strong> <a href="https://www.ecomtrading.com/" class="underline">Condor Specialty Coffe - ECOMTRADING</a></p>
      <p class="text-white"><strong class="text-yellow-500">Fecha:</strong> 2023 - (Actualmente)</p>
      <p class="text-white font-bold underline">Desarrollo de aplicaciones web con:</p>
      

      <span class="text-white">Frontend</span>
      <ul class="text-yellow-500 flex flex-col gap-2">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>React</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Nextjs</li>
      </ul>

      <span class="text-white">Backend</span>
      <ul class="text-yellow-500 flex flex-col gap-2">
        <li>Nestjs</li>
        <li>Nodejs</li>
        <li>Postgres SQL</li>
      </ul>

      <span class="text-white">Control de versiones</span>
      <ul class="text-yellow-500 flex flex-col gap-2">
        <li>Git</li>
        <li>GitHub</li>
        <li>Bitbucket</li>
      </ul>
    </article>

    <article class=" flex flex-col gap-4 border p-4 rounded-md shadow-lg shadow-slate-700 hover:bg-slate-900">
      <h2 class="text-white"><strong class="text-yellow-500">Cargo: </strong> Analista de Soporte y Desarrollo</h2>
      <p class="text-white"><strong class="text-yellow-500">Empresa:</strong> <a href="https://surgas.com/" class="underline">Surcolombiana de Gas S.A E.S.P.</a></p>
      <p class="text-white"><strong class="text-yellow-500">Fecha:</strong> 2021 - 2022</p>
      <p class="text-white font-bold underline">Desarrollo de aplicaciones web con:</p>
      

      <span class="text-white">Frontend</span>
      <ul class="text-yellow-500 flex flex-col gap-2">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>React</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Nextjs</li>
      </ul>

      <span class="text-white">Backend</span>
      <ul class="text-yellow-500 flex flex-col gap-2">
        <li>Nestjs</li>
        <li>Nodejs</li>
        <li>Postgres SQL</li>
      </ul>

      <span class="text-white">Control de versiones</span>
      <ul class="text-yellow-500 flex flex-col gap-2">
        <li>Git</li>
        <li>GitHub</li>
        <li>Bitbucket</li>
      </ul>
    </article>

    <article class=" flex flex-col gap-4 border p-4 rounded-md shadow-lg shadow-slate-700 hover:bg-slate-900">
      <h2 class="text-white"><strong class="text-yellow-500">Cargo:</strong> Auxiliar de Soporte y Desarrollo</h2>
      <p class="text-white"><strong class="text-yellow-500">Empresa:</strong> <a href="https://surgas.com/" class="underline">Surcolombiana de Gas S.A E.S.P.</a></p>
      <p class="text-white"><strong class="text-yellow-500">Fecha:</strong> 2021 - 2022</p>
      <p class="text-white font-bold underline">Desarrollo de aplicaciones web con:</p>
      

      <span class="text-white">Frontend</span>
      <ul class="text-yellow-500 flex flex-col gap-2">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>React</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Nextjs</li>
      </ul>

      <span class="text-white">Backend</span>
      <ul class="text-yellow-500 flex flex-col gap-2">
        <li>Nestjs</li>
        <li>Nodejs</li>
        <li>Postgres SQL</li>
      </ul>

      <span class="text-white">Control de versiones</span>
      <ul class="text-yellow-500 flex flex-col gap-2">
        <li>Git</li>
        <li>GitHub</li>
        <li>Bitbucket</li>
      </ul>

    </article>
    
  </div>

</section>