---

---

<nav class="h-12">
  <div class="container mx-auto">

    <div class="flex justify-between p-4 md:p-0 lg:p-0">
      <span class="text-yellow-300 font-bold lg:leading-[48px] opacity-[0.8]">Jeison Giraldo</span>
    
    <!-- <ul class="flex text-white gap-6 leading-[48px] opacity-[0.7]">
      <li class="cursor-pointer">Habilidades</li>
      <li class="cursor-pointer">Experiencia</li>
      <li class="cursor-pointer">Contácto</li>
    </ul> -->

    <span class="text-white lg:leading-[48px] opacity-[0.6]">Full Stack Developer</span>

    </div>
  
  </div>
</nav>
