---

---

<nav class="h-12">
  <div class="container mx-auto">

    <div class="flex justify-between">
      <span class="text-yellow-500 font-bold leading-[48px]">Jeison Arlei Giraldo Torres</span>
    
    <ul class="flex text-white gap-6 leading-[48px] opacity-[0.7]">
      <li class="cursor-pointer">Skills</li>
      <li class="cursor-pointer">Experience</li>
      <li class="cursor-pointer">Contact</li>
    </ul>
    </div>
  
  </div>
</nav>
