---

---

<nav class="h-12">
  <div class="container mx-auto">

    <div class="flex justify-between">
      <span class="text-yellow-500 font-bold leading-[48px]">Jeison Arlei Giraldo Torres</span>
    
    <!-- <ul class="flex text-white gap-6 leading-[48px] opacity-[0.7]">
      <li class="cursor-pointer">Habilidades</li>
      <li class="cursor-pointer">Experiencia</li>
      <li class="cursor-pointer">Contácto</li>
    </ul> -->
    </div>
  
  </div>
</nav>
