---

---


<section class="w-full flex justify-center">

  <div class="w-full m-8 md:w-3/4 flex flex-col md:justify-between gap-4">

    <article class="w-full md:w-1/2 text-white flex flex-col gap-4">
      <h1 class="text-yellow-500 text-5xl">Full Stack Developer</h1>
  
      <div>
        <p>
          Mi Stack tecnológico es <strong class="text-yellow-500">JavaScript, React</strong> y <strong class="text-yellow-500">Node</strong> para el desarrollo de aplicaciones web.
        </p>
        <p class="mt-4">Utilizo las siguientes herramientas y tecnológicas:</p>

        <div class="mt-8 flex justify-start gap-8">
          <div>
            <h2 class="text-yellow-500 mb-2 underline">Frotend</h2>
            <ul class="flex flex-col gap-2">
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>React</li>
              <li>Nextjs</li>
              <li>Redux</li>
              <li>Html</li>
              <li>CSS</li>
              <li>Material UI</li>
              <li>Bootstrap</li>
              <li>Tailwind</li>
              <li>Figma</li>
            </ul>
          </div>
          <div>
            <h2 class="text-yellow-500 mb-2 underline">Backend</h2>
            <ul class="flex flex-col gap-2">
              <li>Node</li>
              <li>Nestjs</li>
              <li>Postgres SQL</li>
              <li>AWS</li>
              <li>Vercel</li>
            </ul>
          </div>
        </div>

      </div>
  
      <span class="text-green-600"><strong class="text-yellow-500">#</strong> Desarrollemos juntos<strong class="text-white"> |</strong></span>
    </article>
  
    <aside class="w-1/2 hidden md:visible">
      <img src="images/jeison_giraldo.png" class="rounded-full">
    </aside>
  </div>
</section>