---

---


<section class="flex justify-between gap-3">
  <article class="text-white flex flex-col gap-6">
    <h1>Hola, <strong class="text-yellow-500">soy desarrollador full stack</strong></h1>

    <div>
      <p>
        Desarrollador web, apasionado por la tecnología y el desarrollo de software.
      </p>
      <p class="mt-4"> Desarrollo full stack </p>
    </div>

    <span class="text-green-600"><strong class="text-yellow-500">#</strong> i develop tools for dashboard <strong class="text-white">|</strong></span>

    <div>
      <button class="bg-yellow-600 w-[100px] h-12 rounded-md">
        here me
      </button>
    </div>
    
  </article>
  <aside>
    <img src="images/jeison_giraldo.png" class="rounded-full">
  </aside>
</section>