---

---


<section class="w-full flex justify-center">

  <div class="w-3/4 flex justify-between gap-4">
    <article class="w-1/2 text-white flex flex-col gap-6">
      <h1>Hola, <strong class="text-yellow-500">soy desarrollador full stack</strong></h1>
  
      <div>
        <p>
          Soy un desarrollador full stack especializado en soluciones cliente-servidor. uso postgresql, express.js, react.js y node.js. en el frontend, trabajo con react y next.js para eficiencia. en el backend, elijo nest.js para estructurar el código. tengo experiencia en desarrollo backend con node.js y express, enfocándome en la creación de api restful y gestión de rutas. en bases de datos, domino postgresql y mysql, diseñando bases eficientes. para implementar, utilizo vercel, cloudflare y aws, asegurando despliegues rápidos y seguros, con rendimiento óptimo y experiencia del usuario sin problemas.
        </p>
        <p class="mt-4"> Desarrollo full stack </p>
      </div>
  
      <span class="text-green-600"><strong class="text-yellow-500">#</strong> i develop tools for dashboard <strong class="text-white">|</strong></span>
    </article>
  
    <aside class="w-1/2">
      <img src="images/jeison_giraldo.png" class="rounded-full">
    </aside>
  </div>
</section>